{% extends 'main/layout.html' %}
{% block title %}Страница отчётов{% endblock %}
{% block content %}
    <div class="features">
        <h1>Страница отчётов</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad adipisci alias architecto dolor doloribus earum ex, in incidunt ipsa ipsum libero natus quia quod vel. Debitis eos maiores temporibus.</p>
        <button class="btn btn-warning">{% filter upper%}На страницу про нас{% endfilter %}</button>
        <hr >
{#        {{ data }}#}
        <hr >

        {% for el in data %}
            <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Created</th>
                    <th>Created_for</th>
                    <th>From_server</th>
                    <th>From_id</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ el.id }}</td>
                    <td>{{ el.created }}</td>
                    <td>{{ el.created_for }}</td>
                    <td>{{ el.from_server }}</td>
                    <td>{{ el.from_id }}</td>
                </tr>
                <tr>
                    <td colspan="5">{{ el.data|safe }}</td>
                </tr>
            </tbody>
            </table>
        {% endfor %}

    </div>
        {{ dataframes }}
{% endblock %}
